<div style="display: flex; padding-top: 10rem;">
  <ngx-charts-pie-chart
    [view]="view"
    [legend]="false"
    [labels]="true"
    [trimLabels]="false"
    [results]="dataPie"
    (select)="onSelectPie($event)">
  </ngx-charts-pie-chart>

  <ngx-charts-bar-vertical
    [view]="view"
    [legend]="false"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Time"
    yAxisLabel="Amount"
    [results]="dataBar">
  </ngx-charts-bar-vertical>
</div>
