<div style="display: flex; padding-top: 10rem;">
  <ngx-charts-pie-chart
    [view]="view"
    [legend]="false"
    [labels]="true"
    [trimLabels]="false"
    [results]="dataPie$ | async"
    [customColors]="customColors()"
    (select)="onSelectPie($event)">
  </ngx-charts-pie-chart>

  <ngx-charts-bar-vertical-stacked
    [view]="view"
    [legend]="false"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Time"
    yAxisLabel="Amount"
    [customColors]="customColors()"
    [results]="dataBar$ | async">
  </ngx-charts-bar-vertical-stacked>
</div>
